#container {
            display: flex;
            justify-content: center;
            gap: 20px;
            margin-top: 30px;
        }

        
        .card {
            background-color: white;
            border: 1px solid white;
            width: 250px;
            padding: 20px;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        }

        #img1, #img2, #img3 {
            width: 100%;
            height: 150px;
            object-fit: contain;
        }

     
      
        
        .price {
            color: orange;
            font-weight: bold;
            font-size: 20px;
            display: block;
            margin: 15px 0;
        }

     
        .add-btn {
            background-color: green;
            color: white;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
            transition: 0.3s;
        }

        
        .add-btn:hover {
            background-color: green;
            transform: scale(1.05);
        }